@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* colors */
  --white: #fff;
  --white-bg: #f1f1f1;
  --white-text: #f5f5f5;
  --dark-white: #f7f7f7;
  --black: #000;
  --black-text: #161718;
  --black-text-light: #222222;
  --light-primary: #013c67;
  --primary: #02416f;
  --primary-dark: #01223a;
  --primary-text: #58adeb;
  --primary-bg: #0665aa;
  --bg-header: #afddff1a;
  --border-gray-inp: #ffffffa6;
  /* fonts */
  --font-onest: "Onest";
  --font-gilroy: "Gilroy", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

body {
  color: var(--white-text);
  font-family: var(--font-onest);
}

.button_transperrant {
  background: transparent;
  padding: 10px 15px 10px 15px;
  border-radius: 300px;
  color: var(--black-text-light);
  border: 1px solid var(--black-text-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-gilroy);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -4%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.button_transperrant span {
  font-size: 24px;
}

@media (max-width: 400px) {
  .button_transperrant {
    font-size: 12px;
  }
}

/* navbar */

.navbar {
  width: 100%;
  height: 45px;
  background: var(--primary);
  display: flex;
  align-items: center;
}

.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -3%;
}

.navbar_text span {
  color: var(--primary-text);
}

.navbar_list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar_list li a {
  display: flex;
  align-items: center;
  font-family: var(--font-gilroy);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -2%;
  gap: 10px;
}

/* header */

.header_wrapper {
  margin-top: 10px;
  border: 1px solid rgba(0, 55, 95, 0.2);
  border-radius: 32px;
  backdrop-filter: blur(10px);
  background: var(--bg-header);
  padding: 6px 13px 6px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_line {
  width: 0;
  height: 36px;
  border: 1px solid #00000026;
  border-radius: 128px;
}

.header_list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header_list_item {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.header_list_item p {
  color: var(--black-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -2%;
}

.header_list_item i {
  font-size: 8px;
  color: var(--black-text);
}

.header_right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header_phone_message {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.header_phone {
  color: var(--primary-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -3%;
}

.header_message {
  color: #01223a99;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -3%;
}

.header_message i {
  font-size: 10px;
  padding-left: 4px;
}

.header_social {
  display: flex;
  gap: 10px;
}

/* header_meda_info */

.header_meda_info {
  margin-top: 20px;
  display: none;
  justify-content: space-between;
}

.header_meda_info_text {
  color: var(--black-text-light);
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -3%;
}

.header_meda_info_text a {
  color: var(--primary);
}

/* menu_burger */

.menu_burger {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: radial-gradient(
    192.84% 111.4% at 12% 24%,
    rgba(0, 47, 81, 1),
    rgba(1.27, 120.43, 206.72, 1),
    rgba(0, 96.67, 166.67, 1)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  display: none;
}

.menu_burger span {
  width: 22px;
  height: 0px;
  border: 2px solid var(--white);
  border-radius: 2px;
}

/* hero */

.hero {
  background: url(../images/hero_foto.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 632px;
  background-position: center 235px;
}

.hero_wrapper {
  height: 632px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.hero_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero_title {
  width: 700px;
  color: var(--primary);
  font-family: var(--font-gilroy);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -4%;
  text-transform: uppercase;
}

.hero_subtitle {
  color: var(--black-text-light);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -2%;
}

.hero_list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.hero_list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.hero_list_text {
  width: 180px;
  font-family: var(--font-gilroy);
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -2%;
  text-align: center;
}

.hero_form_bg {
  padding: 20px;
  background: url(../images/hero_form_bg.png) no-repeat center;
  background-size: cover;
  width: 440px;
  height: 455px;
  border-radius: 32px;
  box-shadow:
    -221px -146px 74px 0px rgba(0, 0, 0, 0),
    -141px -94px 68px 0px rgba(0, 0, 0, 0.01),
    -80px -53px 57px 0px rgba(0, 0, 0, 0.03),
    -35px -23px 42px 0px rgba(0, 0, 0, 0.06),
    -9px -6px 23px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero_form_title {
  color: var(--white);
  font-family: var(--font-gilroy);
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -2%;
}

.hero_form_info {
  margin-top: 5px;
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
}

.hero_form_inputs {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero_form_icon {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background: var(--primary-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_form_text {
  width: 188px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -3%;
}

.hero_input_icon {
  width: 100%;
  height: 40px;
  position: relative;
}

.hero_input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-gray-inp);
  border-radius: 8px;
  background: #ffffff08;
}

.hero_input {
  padding-left: 10px;
  color: #f5f5f5bf;
  font-family: var(--font-gilroy);
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -2%;
}

.hero_input::placeholder {
  color: #f5f5f5bf;
}

.hero_inp_icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.hero_form_btn {
  width: 100%;
  height: 50px;
  border: 1px solid #ffffff59;
  border-radius: 8px;
  background: var(--white);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero_form_btn p {
  text-align: left;
  color: var(--black-text-light);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -3%;
}

.hero_from_btn_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: var(--primary);
}

.hero_form_text_warning {
  padding-top: 15px;
  color: #ffffff8c;
  font-family: var(--font-gilroy);
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -2%;
  text-align: left;
}

.hero_form_text_warning a {
  color: #ffffffbf;
  text-decoration: underline;
}

/* map */

.map {
  margin-top: 150px;
}

.map_wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 20px;
  border-radius: 32px;
  background: radial-gradient(
    79.36% 147.96% at 11.58% 17.75%,
    #002f51 0%,
    #0178cf 75.56%,
    #0061a7 100%
  );
}

.map_content {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.map_content_btn {
  background: transparent;
  width: 137px;
  height: 34px;
  border-radius: 300px;
  color: var(--white-text);
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-gilroy);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -4%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.map_content_btn span {
  font-size: 24px;
}

.map_content_title {
  width: 990px;
  font-family: var(--font-gilroy);
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -5%;
}

.map_comment_text {
  padding-top: 15px;
  font-weight: 600;
  font-style: var(--font-gilroy);
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
}

.swiper_comment {
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.swiper_slide_comment {
  max-width: 425px;
  min-height: 122px;
  display: flex !important;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ffffff59;
  background: #0000000d;
  backdrop-filter: blur(10px);
  border-radius: 16px;
}

.map_comment_num {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: -2%;
}

.map_comment_desc {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -2%;
}

.map_wrapper_swiper {
  width: 100%;
  position: relative;
}

.map_wrapper_swiper .swiper-button-next,
.map_wrapper_swiper .swiper-button-prev {
  width: 30px;
  height: 30px;
  backdrop-filter: blur(7px);
  top: 110px;
  background: var(--white);
  cursor: pointer;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  background-image: url("../icons/solar_arrow-black.svg");
  transition:
    background-image 0.3s ease,
    border 0.3s ease,
    opacity 0.3s ease;

  &::after {
    display: none;
  }
}

.map_wrapper_swiper .swiper-button-prev {
  left: -8px;
}

.map_wrapper_swiper .swiper-button-next {
  right: -8px;
}

.map_wrapper_swiper .swiper-button-prev {
  transform: rotate(180deg);
}

.map_wrapper_swiper .swiper-button-disabled {
  display: none;
}

.map_iframe {
  margin-top: 15px;
  border-radius: 32px;
  height: 540px;
  box-shadow: 7px 16px 39px 0px #0000001a;
  box-shadow: 28px 64px 70px 0px #00000017;
  box-shadow: 64px 145px 95px 0px #0000000d;
  box-shadow: 114px 258px 113px 0px #00000003;
  box-shadow: 177px 402px 123px 0px #00000000;
}

/* connection */

.connection {
  margin-top: 150px;
}

.connection_wrapper {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 555px;
  justify-content: center;
  gap: 20px;
}

.connection-swiper {
  overflow: visible !important;
}

.connection-swiper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.connection-swiper-video_bg {
  height: 530px !important;
  border-radius: 32px;
  background: var(--dark-white);
  padding: 20px;
}

.connection-swiper-video_title {
  font-family: var(--font-gilroy);
  color: var(--black-text-light);
  font-weight: 600;
  font-size: 28px;
  line-height: 110%;
  letter-spacing: -4%;
}

.connection-swiper-video_title span {
  color: var(--primary);
}

.connection-swiper-video {
  margin-top: 10px;
  width: 100%;
  height: 420px;
  position: relative;
}

.connection-swiper-video video {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
  object-position: center;
}

.connection_video_title {
  font-family: var(--font-gilroy);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -5%;
  text-align: center;
  position: absolute;
  top: 39px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.connection_video_title span {
  color: var(--primary-text);
}

.connection_video {
  position: relative;
  width: 555px;
  height: 1080px;
  overflow: hidden;
}

.connection_video video {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
  object-position: center;
}

.connection_play_pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(229, 229, 229, 0.598);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 25px;
  color: var(--white);
}

.cennection_wrap_btn {
  position: absolute;
  bottom: 39px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 39px;
  width: 100%;
}

.connection_btn {
  width: 100%;
  height: 50px;
  border: 1px solid #ffffff59;
  border-radius: 8px;
  background: var(--white);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connection_btn p {
  text-align: left;
  color: var(--black-text-light);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -3%;
  padding-left: 13px;
}

.connection_btn_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: var(--primary);
}

.OurWorks_Section {
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.OurWorks_Section a {
  width: 147px;
  height: 37px;
  border-radius: 300px;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -3%;
  color: var(--black-text-light);
  border: 1px solid var(--black-text-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.OurWorks-Context p {
  font-family: var(--font-gilroy);
  font-weight: 400;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: -5%;
  color: var(--light-primary);
}

.ourWorks-content {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.ourWorks-content h3 {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -2%;
}

.ourworks-btns {
  display: flex;
  gap: 10px;
}

.ourworks-btns button {
  width: 325px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--black-text-light);
  background: #2222220d;
  font-family: var(--font-onest);
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -2%;
  color: var(--black-text-light);
  padding: 0px 11px;
}

.ourworks-btns button:hover {
  background: var(--primary);
  color: var(--white);
}

.Reviews {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.review {
  padding: 20px;
  width: 402px;
  height: 466px;
  border-radius: 32px;
  background: var(--white-bg);
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.review img {
  width: 100%;
  height: 280px;
  border-radius: 16px;
}

.review-context {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.review-context p {
  font-family: var(--font-onest);
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: var(--black);
}

.review-context button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  font-family: var(--font-onest);
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: var(--black-text-light);
  background: var(--white);
}

.review-context button img {
  width: 25px;
  height: 25px;
}

.agreed {
  width: 128px;
  height: 35px;
  border-radius: 300px;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -3%;
  color: var(--light-primary);
  position: absolute;
  top: 30px;
  left: 30px;
  background: var(--white);
}

.reviews-nav {
  display: flex;
  align-items: center;
  top: 500px;
  right: 0;
  gap: 20px;
  margin-top: 20px;
  margin-left: 90%;
}

.reviews-prev,
.reviews-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.reviews-prev {
  background: #2222221a;
}

.reviews-next {
  background: var(--primary);
}

.reviews-prev img,
.reviews-next img {
  width: 24px;
  height: 24px;
}

.reviews-next:hover {
  background: #0b2f52;
}

.reviews-prev:hover {
  background: #d5d5d5;
}

.reviews-prev.swiper-button-disabled,
.reviews-next.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.CustomerReviews-Section {
  max-width: 1400px;
  margin: 50px auto;
  padding: 20px;
}

.CustomerReviews-Section a {
  width: 171px;
  height: 37px;
  border-radius: 300px;
  border: 1px solid var(--white);
  font-family: var(--font-roboto);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -3%;
  color: var(--white-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 20px;
}

.big-card {
  display: flex;
  gap: 15px;
  flex-direction: column;
  background: linear-gradient(135deg, #0d4d7a, #0a6bb8);
  padding: 20px;
  border-radius: 20px;
}

.big-card h2 {
  font-family: var(--font-gilroy);
  font-weight: 500;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -5%;
}

.big-card p {
  font-family: var(--font-onest);
  font-weight: 300;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -2%;
}

.reviewsSwiper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 312px;
  gap: 20px;
}

.card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: var(--white-bg);
}

.card div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 300px;
  padding: 10px 15px;
  color: var(--primary);
  background: var(--white);
  bottom: 15px;
  left: 15px;
  font-family: var(--font-onest);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -3%;
}

/* Scroll Section */

.Scroll-Section {
  margin: 150px 0px;
  display: flex;
  flex-direction: column;
}

.Scroll-context {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-left: 67px;
}

.Scroll-Section a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 154px;
  height: 37px;
  border-radius: 300px;
  border: 1px solid var(--black-text-light);
  font-family: var(--font-roboto);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -3%;
  color: var(--black-text-light);
}

.Scroll-Section h1 {
  font-family: var(--font-gilroy);
  font-weight: 500;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: -5%;
  color: var(--primary);
}

.scroll-wrapper {
  overflow: hidden;
  width: 100%;
}

.scroll-content {
  display: flex;
  width: max-content;
  padding: 10px;
}

.scrolling-left {
  animation: scroll-left 15s linear infinite;
}

.scrolling-right {
  animation: scroll-right 15s linear infinite;
}

.scroll-group {
  display: flex;
}

.scrolling-item {
  min-width: 308px;
  height: 150px;
  border-radius: 16px;
  border: 1px solid #22222233;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.OurResults-Section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  max-width: 1360px;
  height: 450px;
  border-radius: 32px;
  margin: 0 auto;
  background: radial-gradient(
    101.36% 278.75% at -1.36% 50%,
    #02253e 0%,
    #0281dd 75%,
    #0069b4 100%
  );
}

.OurResult-Fon {
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: -1;
}

.OurResults-context {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.OurResults-context h1 {
  font-family: var(--font-gilroy);
  font-weight: 400;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: -5%;
  text-transform: uppercase;
  color: var(--white);
}

.OurResults-context p {
  font-family: var(--font-onest);
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -2%;
  color: var(--white);
}

.OurResults-context button {
  width: 324px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ffffff59;
  background: var(--white);
  font-family: var(--font-onest);
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -3%;
  color: var(--black-text-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.OurResults-context img {
  width: 40px;
  height: 40px;
  background: var(--primary);
  border-radius: 4px;
  padding: 7.5px;
}

.OurResults-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.review-result {
  position: relative;
  max-width: 100%;
  background: #ffffff17;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-result .result {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 5px;
  padding-right: 20px;
  border-radius: 300px;
  background: #3088c9;
  border: 1px solid #ffffff1a;
}

.review-result .result img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.review-result .result h1 {
  font-family: var(--font-onest);
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -2%;
  color: var(--white);
}

.review-result p {
  font-family: var(--font-onest);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -2%;
  color: #ffffffcc;
  padding: 10px;
  margin: 0 auto;
}

.deg-left {
  transform: rotate(-2deg);
}

.deg-right {
  transform: rotate(2deg);
}

.About-Us {
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-wrapper {
  background: radial-gradient(
    101.36% 278.75% at -1.36% 50%,
    #02253e 0%,
    #0281dd 75%,
    #0069b4 100%
  );
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
  border-radius: 32px;
  width: 1340px;
}

.About-Us a {
  width: 75px;
  height: 37px;
  border-radius: 300px;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -3%;
  color: var(--white);
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-company {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-company h1 {
  font-family: var(--font-gilroy);
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -5%;
  color: var(--white);
}

.about-company p {
  font-family: var(--font-onest);
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: -3%;
  color: var(--white);
  padding: 20px 0px;
  border-bottom: 1px solid #ffffff33;
  border-top: 1px solid #ffffff33;
}

.about-teams {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-teams h1 {
  font-family: var(--font-gilroy);
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -5%;
  color: var(--white);
}

.Team-Images {
  display: flex;
  gap: 20px;
}

.Team-Images img {
  width: 580px;
  height: 380px;
  border-radius: 16px;
}

.our-specials {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.specials-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.specials-btns h1 {
  font-family: var(--font-gilroy);
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -5%;
  color: var(--white);
}

.special-buttons {
  display: flex;
  gap: 10px;
}

.special-buttons img {
  padding: 6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffffffbf;
}

.special-buttons .right {
  background: var(--white);
}

.our-specials-employees {
  display: flex;
  gap: 20px;
}

.card-employee {
  width: 330px;
  height: 325px;
  border-radius: 16px;
  border: 1px solid #ffffff4d;
  backdrop-filter: blur(12px);
  background: #ffffff1a;
}

.card-employee img {
  width: 100%;
  height: 225px;
  border-radius: 16px;
}

.employee-context {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.employee-context h1 {
  font-family: var(--font-onest);
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -2%;
  color: var(--white);
}

.employee-context button {
  font-family: var(--font-onest);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
  color: var(--light-primary);
  border-radius: 300px;
  padding: 5px 15px;
}
